@{
    ViewData["Title"] = "View Movies";
}
@model List<AddMovieModel>
<h1>Movie List</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <td></td>
            <td>Title</td>
            <td>Year</td>
            <td>Category</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId" class="btn btn-primary" >Edit</a></td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Category.CategoryName</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.Notes</td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId" class="btn btn-primary">Delete</a></td>
        </tr>
        }
    </tbody>
</table>